In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

In [2]:
df = pd.read_excel('/home/kevrodz/Documents/ADHD_200/adhd200_alff.xlsx')

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,Subject,Site
0,0.162079,0.037099,0.144403,0.313011,0.277084,0.736009,0.304559,0.399883,0.853815,1.326480,...,0.760737,0.151823,-0.424574,-0.097093,-0.506285,-1.072050,-0.597930,0.389849,1,4
1,0.153307,0.008734,0.092141,0.230623,0.024156,0.473591,0.053311,0.273829,0.619458,0.981192,...,0.187432,0.030308,-0.155826,-0.266486,-0.656883,-0.994526,-0.805066,0.168485,1,4
2,0.271558,0.028517,0.065412,0.199754,0.191901,0.302149,0.103316,0.256658,0.450988,0.959961,...,1.033679,0.520171,-0.263690,-0.389191,-0.443814,-0.703145,-0.387449,0.781266,1,4
3,0.183559,-0.154679,0.043718,0.134276,0.123575,0.252564,0.152158,0.242597,0.308217,0.889195,...,1.162090,0.657222,-0.219028,-0.165898,-0.436797,-0.700513,-0.336205,0.515415,1,4
4,0.001145,-0.008438,-0.051365,0.137013,0.159708,0.341398,0.181520,0.208502,0.450696,0.754171,...,1.097669,0.561438,-0.263392,-0.339523,-0.718460,-0.884818,-0.785129,0.119038,1,4

In [7]:
uno= pd.read_excel('/home/kevrodz/Documents/ADHD_200/uno.xlsx')
cuatro=pd.read_excel('/home/kevrodz/Documents/ADHD_200/cuatro.xlsx')
cinco=pd.read_excel('/home/kevrodz/Documents/ADHD_200/cinco.xlsx')

In [8]:
labs = pd.concat([uno, cuatro, cinco])
labs.head()

   Site  DX  Subject
0     1   0        1
1     1   0        2
2     1   1        3
3     1   0        4
4     1   3        5

In [9]:
new_df = pd.merge(df, labs, on=["Subject","Site"])
new_df.head()

,0,1,2,3,4,5,6,7,8,9,...,109,110,111,112,113,114,115,Subject,Site,DX
0,0.162079,0.037099,0.144403,0.313011,0.277084,0.736009,0.304559,0.399883,0.853815,1.326480,...,0.151823,-0.424574,-0.097093,-0.506285,-1.072050,-0.597930,0.389849,1,4,0
1,0.153307,0.008734,0.092141,0.230623,0.024156,0.473591,0.053311,0.273829,0.619458,0.981192,...,0.030308,-0.155826,-0.266486,-0.656883,-0.994526,-0.805066,0.168485,1,4,0
2,0.271558,0.028517,0.065412,0.199754,0.191901,0.302149,0.103316,0.256658,0.450988,0.959961,...,0.520171,-0.263690,-0.389191,-0.443814,-0.703145,-0.387449,0.781266,1,4,0
3,0.183559,-0.154679,0.043718,0.134276,0.123575,0.252564,0.152158,0.242597,0.308217,0.889195,...,0.657222,-0.219028,-0.165898,-0.436797,-0.700513,-0.336205,0.515415,1,4,0
4,0.001145,-0.008438,-0.051365,0.137013,0.159708,0.341398,0.181520,0.208502,0.450696,0.754171,...,0.561438,-0.263392,-0.339523,-0.718460,-0.884818,-0.785129,0.119038,1,4,0

In [11]:
new_df.to_excel("dx_adhd200_alff.xlsx")

In [22]:
labs.groupby('Site').DX.value_counts() #

Site  DX
1     0     61
      3     17
      1      7
4     0     23
      1     18
      2      6
      3      1
5     0     99
      1     77
      3     44
      2      2
Name: DX, dtype: int64